@page "/account/profile/update"
@layout AuthLayout
@inject NavigationManager navigationManager
@inject IAccountService authService
@attribute [Authorize]

<PageTitle>Perfil de usuario</PageTitle>

@if (ModelRequest != null)
{
    <div class="col">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Actualizar datos de usuario</h1>
            </div>

            <hr />

            @*<EditForm Model="@ModelRequest" OnValidSubmit="@HandleRegistration">
                @if (ShowErrors)
                {
                    <div class="alert alert-danger" role="alert">
                        @foreach (var error in Errors)
                        {
                            <p class="mb-0">@error</p>
                        }
                    </div>
                }

                <DataAnnotationsValidator />
                <Microsoft.AspNetCore.Components.Forms.ValidationSummary />

                <div class="form-group mb-3">
                    <label for="username">Nombre de usuario</label>
                    <InputText Id="username" Class="form-control" @bind-Value="@ModelRequest.UserName" />
                    <ValidationMessage For="@(() => ModelRequest.UserName)" />
                </div>

                <div class="form-group mb-3">
                    <label for="email">Correo electrónico</label>
                    <InputText Id="email" Class="form-control" @bind-Value="@ModelRequest.Email" />
                    <ValidationMessage For="@(() => ModelRequest.Email)" />
                </div>

                <div class="form-group mb-3">
                    <label for="password">Contraseña</label>
                    <InputText type="password" Id="password" Class="form-control" @bind-Value="@ModelRequest.Password" />
                    <ValidationMessage For="@(() => ModelRequest.Password)" />
                </div>

                <div class="form-group mb-3">
                    <label for="password">Confirmar contraseña</label>
                    <InputText type="password" Id="password" Class="form-control" @bind-Value="@ModelRequest.ConfirmPassword" />
                    <ValidationMessage For="@(() => ModelRequest.ConfirmPassword)" />
                </div>

                <div class="form-group mb-3 text-center">
                    <a href="/account" class="btn btn-primary mx-auto">
                        Regresar
                    </a>
                    <button type="submit" class="btn btn-primary">Actualizar Registros</button>
                    <a href="/" class="btn btn-primary mx-auto">
                        Volver a Inicio <i class="fa fa-home"></i>
                    </a>
                </div>
        </EditForm>*@
        </div>
    </div>
}

@code {
    private RegisterRequest ModelRequest = new RegisterRequest();
    private bool ShowErrors;
    private IEnumerable<string> Errors = null!;

    private async Task HandleRegistration()
    {
        ShowErrors = false;

        ApiResponse<RegisterResult> result = await authService.Register(ModelRequest);

        if (result.Successful)
        {
            navigationManager.NavigateTo($"/account/register/emailconfirmation/{ModelRequest.UserName}/{ModelRequest.Email}/{false}");
        }
        else
        {
            Errors = result.ErrorMessages;
            ShowErrors = true;
        }
    }
}
