@page "/sucursales"
@attribute [Authorize(Roles = "Administrador")]
@inject HttpClient Http;

<SfGrid @ref=_Grid TValue="SucursalServicioDTO" Toolbar="@Toolbar" AllowFiltering="true" AllowSorting="false" AllowPaging="true">
    <SfDataManager Url="@($"api/sucursalservicios")" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
    <GridEvents OnActionComplete="OnActionComplete" TValue="SucursalServicioDTO"></GridEvents>
    <GridEditSettings AllowAdding="true" AllowDeleting="false" AllowEditing="true" Mode="EditMode.Dialog">
        <HeaderTemplate>
            @{
                var text = GetHeader((context as SucursalServicioDTO)!);
                <span>@text</span>
            }
        </HeaderTemplate>
        <FooterTemplate>
            <Button Clicked="Save" Color="Color.Primary">@ButtonText</Button>
            <Button Clicked="Cancel">Cancelar</Button>
        </FooterTemplate>
    </GridEditSettings>
    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar"></GridFilterSettings>
    <GridPageSettings PageSize="10"></GridPageSettings>
    <GridColumns>
        <GridColumn Field=@nameof(SucursalServicioDTO.Id) IsPrimaryKey="true" Visible="false" Width="100"></GridColumn>
        <GridColumn Field=@nameof(SucursalServicioDTO.Descripcion) HeaderText="Descripción" FilterSettings="@(new FilterSettings{ Operator = Operator.Contains })" Width="100"></GridColumn>
    </GridColumns>
</SfGrid>

@code {
    private SfGrid<SucursalServicioDTO>? _Grid { get; set; }
    private List<string> Toolbar = new List<string>() { "Add", "Edit" };
    private string ButtonText { get; set; } = null!;

    private string GetHeader(SucursalServicioDTO Value)
    {
        if (Value.Id == 0)
        {
            ButtonText = "Guardar";
            return "Dar de alta servicio";
        }
        else
        {
            ButtonText = "Guardar cambios";
            return $"Editar detalles de servicio";
        }
    }

    public void OnActionComplete(ActionEventArgs<SucursalServicioDTO> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Add) || args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.BeginEdit))
        {
            // Based on Add or Edit action disable the PreventRender.
            args.PreventRender = false;
        }
    }

    private async Task Cancel()
    {
        await _Grid!.CloseEditAsync();     //Cancel editing action
    }

    private async Task Save()
    {
        await _Grid!.EndEditAsync();       //Save the edited/added data to Grid
    }
}